# Global config

configure_terminal: no

# Dotfiles config
dotfiles_repo: "https://github.com/bernardstanislas/dotfiles.git"
dotfiles_repo_version: master

dotfiles_repo_local_destination: "~/Documents/dotfiles"
dotfiles_files:
  - .gitconfig
  - .osx

# Homebrew
homebrew_taps:
  - heroku/brew
  - homebrew/cask-versions
  - kong/kong

homebrew_installed_packages:
  - bat
  - bfg
  - composer
  - cowsay
  - dockutil
  - dnsmasq
  - elasticsearch
  - exa
  - fff
  - fish
  - git
  - gopass
  - gpg
  - heroku
  - kong
  - libevent
  - mackup
  - mcrypt
  - nmap
  - node
  - nvm
  - openssl
  - packer
  - pipenv
  - php
  - postgresql
  - pyenv
  - p7zip
  - redis
  - sqlite
  - thefuck
  - tldr
  - unrar
  - wget
  - yarn

homebrew_cask_apps:
  - 1password
  - adoptopenjdk8
  - alfred
  - android-messages
  - arduino
  - docker
  - franz
  - gimp
  - google-backup-and-sync
  - google-chrome
  - insomnia
  - iterm2
  - karabiner-elements
  - keybase
  - little-snitch
  - micro-snitch
  - molotov
  - notion
  - nvalt
  - prusaslicer
  - signal
  - skitch
  - slack
  - sonic-pi
  - spectacle
  - spotify
  - steam
  - tableplus
  - tigervpn
  - tor-browser
  - transmission
  - vagrant
  - visual-studio-code
  - vlc
  - whatsapp

# Composer packages
composer_packages:
  - name: laravel/valet

# Pip packages
pip_packages:
  - name: Scrapy
    executable: pip3
  - name: jupyterlab
    executable: pip3
  - name: jupyter_http_over_ws
    executable: pip3
  - name: dnspython

# Npm packages
npm_packages:
  - name: "@nestjs/cli"

# Post-provision tasks
post_provision_tasks:
  - tasks/post-provision/karabiner-elements.yml
  - tasks/post-provision/spectacle.yml
  - tasks/post-provision/iterm2.yml
  - tasks/post-provision/dock-items.yml

# Remove dock items
dockitems_to_remove:
  - Launchpad
  - Mail
  - Safari
  - Contacts
  - Notes
  - Reminders
  - Maps
  - Photos
  - Messages
  - FaceTime
  - iTunes
  - iBooks
  - App Store
  - System Preferences
  - Calendar
  - Siri
  - Podcasts
  - Music
  - TV
dockitems_to_persist: []

# Fish users
userlist:
  stan: /Users
